/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/08/2017, 07:41:03 PM
    Author     : colo7
*/

.context-menu {
    -fx-background-color: linear-gradient(to left, #666666, #333333);
    -fx-text-fill: white;
    -fx-padding: 0;
}

.context-menu:hover {
    -fx-background-color:linear-gradient(to left, #666666, #333333);
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}  

.menu-item:focused .label {
    -fx-text-fill: white;
}
.tree-view, .tree-cell {
    -fx-background-color: white ;
    -fx-text-fill: black;
}
.tree-cell:sub-tree-item {
    -fx-background-color: white ;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}




*{
    /*-fx-border-style: segments*/
    -fx-focus-traversable: false;
    -jfx-label-float: true;
    -fx-verde: #49c0b6;
    -fx-celeste:#0093f4;
    -fx-blanco: #ffffff;
    -fx-azul: #0000FF;
}

.root{
    /*-fx-background-image : url("../recursos/fond.jpg");*/
    -fx-background-color: linear-gradient(to left, #666666, #333333);
}
.button:hover{
    -fx-background-color: #333333;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}
.stackPane{
    -fx-background-color: #333333;
}
.hbox,vbox{
    -fx-background-color: #333333;
    /*-fx-background-color: linear-gradient(to bottom, rgba(14,0,138,1) 0%, rgba(0,255,255,1) 100%);*/
}
.label{
    -fx-text-fill: -fx-blanco;
    -fx-font-family: "century";
    -fx-font-size: 16px;
}
.jfx-text-field, .jfx-text-area{
    -fx-prompt-text-fill: -fx-blanco;
    -fx-text-fill: -fx-blanco;
    -fx-font-family: "century";
    -fx-font-size: 15px;
    -jfx-focus-color: #000033;
    -jfx-focus-text-fill: -fx-blanco;
    -jfx-unfocus-color: #000033;
}
.jfx-combo-box{
    -fx-prompt-text-fill: -fx-blanco;
    -fx-text-fill: #ffffff;
    -fx-font-family: "century";
    -fx-font-size: 15px;
    -jfx-focus-color: -fx-blanco;
    -jfx-unfocus-color: #000033;
}
.jfx-combo-box .cell{
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-background-color: linear-gradient(to left, #666666, #333333);
}

.button{
    -fx-font-family: "century";
    -fx-text-fill: -fx-blanco;
    -fx-background-color: black;
    -fx-font-size: 15px;
}

